#  <form accept-charset="UTF-8" action="/users" method="post">
#     <label for="user">Create New User:</label>
#     <input id="user" name="user[name]" type="text" />
#     <input id="user" name="user[email]" type="email" />
#     <input id="user" name="user[password]" type="password" />
#     <input name="commit" type="submit" value="Create User" />
#     <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
#   </form>

<%# <%= form_tag("/users", method: "post") do %> %>
    <%# <%= label_tag(:user, "Create New User:") %> %>
    <%# <%= text_field_tag(:user) %> %>
    <%# <%= label_tag(:email, "Email:") %>s %>
    <%# <%= text_field_tag(:email) %> %>
    <%# <%= label_tag(:password, "Password:") %> %>
    <%# <%= text_field_tag(:password) %> %>
    <%# <%= submit_tag("Submit") %> %>
  <%# <% end %> %>

<%= form_for @user do |f| %>
<%= f.label 'username', 'Username:' %>
  <%= f.text_field :username %><br />
  <%= f.label 'email', 'Email:' %>
  <%= f.text_field :email %><br />
  <%= f.label 'password', 'Password:' %>
  <%= f.text_field :password %><br />
  <%= f.submit "Submit" %>
<% end %>